/* style.css */
html {
  font-size: 16px;
}
body {
  /* font-family: Arial, sans-serif; */
  background-color: #0E0C0F;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}
div {
  line-height: 1.125;
}
.container {
  display: flex;
  flex-direction: column;
  width: calc(100vw-45px);
  max-width: 1000px;
  min-width: 400px;
  min-height: 100vh;
  background: #171619;
  margin: auto;
  padding-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  margin-top: 0px;
  margin-bottom: 14px;
}

.colorful-text span {
  display: inline-block;
  animation: colorChange 2s ease-in-out;
  animation-delay: calc(var(--i) * 0.05s); /* Delay each letter */
}
@keyframes colorChange {
  0% { color: rgb(255, 255, 255); }
  50% { color: rgb(140, 130, 240); }
  100% { color: rgb(255, 255, 255); }
}

/* Search box */
#searchBox {
  padding: 10px;
  margin-bottom: 14px;
  background: #ffffff;
  border: 1px solid #1B181E;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  outline: 2px solid rgb(140, 130, 240);
  outline-offset: 2px;
}

/* Filters and Suggestions */
#search-section {
  margin-bottom: 0px;
}
#filter-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 10px;
  margin: 0px 0;
  margin-bottom: 12px;
}
#filter-container:empty {
  margin: 0px;
  margin-bottom: 0px;
}
.filter-tag {
  background-color: rgb(140, 130, 240);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid rgb(140, 130, 240);
  animation: newfilteranim 1s ease-in-out;
}
@keyframes newfilteranim {
  0% { color: rgb(240, 230, 140); }
  100% { color: rgb(255, 255, 255); }
}
.filter-mod {
  background-color: #0E0C0F;
  color: rgb(255, 255, 255);
  padding: 2px 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  height: 13px;
  min-width: 25px;
  margin-top: auto;
  margin-bottom: auto;
}
.filter-tag:hover {
  background-color: #4e4e4e;
  border: 2px solid #4e4e4e;
  text-decoration: line-through;
}
.filter-tag img {
  margin-left: -3px;
  margin-right: 5px;
}
#suggestions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  gap: 10px;
}
#suggestions:empty {
  margin: 0px;
  margin-bottom: 0px;
}
.suggestion {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  background-color: #0E0B11;
  border: 2px solid #29252D;
}
.suggestion:hover {
  border: 2px solid rgb(140, 130, 240);
}

#itemList {
  list-style: none;
  padding: 0;
  margin-top: 11px;
}

/* Desktop View - Single Row Layout */
@media (min-width: 769px) {
  h1 {
    font-size: 34px;
  }
  #title-img {
    width: 31px;
    height: 30px;
    margin-right: -4px;
    margin-bottom: -2px;
  }
  .container {
    padding: 20px;
    padding-top: 10px;
    margin-top: 20px;
  }
  #header-container {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    min-width: 978px;
    max-width: 978px;
    height: 36px;
    font-weight: bold;
    background-color: #151019;
  }
  .header-row {
    display: grid;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 36px;
    cursor: pointer;
    /* outline: 1px solid red; */
  }
  .header-row:first-child {
    grid-template-columns: 45px 87px 2fr 64px 2.5fr 2.5fr 0.7fr repeat(7, 0.5fr);
  }
  #itemList li {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #151019;
    max-height: 82px;
    min-width: 978px;
    max-width: 978px;
  }
  .row {
    display: grid;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* outline: 1px solid red; */
  }
  .row:first-child {
    grid-template-columns: 45px 87px 2fr 64px 2.5fr 2.5fr 0.7fr repeat(7, 0.5fr);
  }
  .star-img {
    margin: 0px;
    width: 13px;
    height: 18px;
    margin-top: 8px;
    object-fit:none;
    cursor: pointer;
    /* outline: 1px solid red; */
  }
}

/* Mobile View - Double Row Layout */
/* My phone is 414px by 763px */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  #title-img {
    width: 20px;
    height: 18px;
    margin-right: -2px;
    margin-bottom: -1px;
  }
  .container {
    padding: 5px;
    padding-top: 10px;
    margin-top: 0px;
  }
  #header-container {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-weight: bold;
    background-color: #151019;
    height: 72px;
  }
  .header-row {
    display: grid;
    align-items: center;
    text-align: center;
    display: grid;
    gap: 5px;
    width: 100%;
    height: 36px;
    cursor: pointer;
    /* outline: 1px solid red; */
  }
  .header-row:first-child {
    grid-template-columns: 45px 45px 1.12fr 1.1fr 1.4fr;
  }
  .header-row:last-child {
    grid-template-columns: 64px 43px repeat(7, 0.5fr);
  }
  #itemList li {
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Evenly space the columns */
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #151019;  
    max-height: 168px;
  }
  .row {
    align-items: center; /* Center items vertically */
    text-align: center;
    display: grid;
    gap: 5px; /* Spacing between columns */
    /* outline: 1px solid red; */
  }
  .row:first-child {
    grid-template-columns: 45px 45px 1fr 16px;
    margin-bottom: 9px;
    max-height: 18px;
    /* background-color: #201925;   */
  }
  .row:nth-child(2) {
    grid-template-columns: 0.5fr 2fr 2fr;
    margin-bottom: 7px;
    gap: 0px;
    max-height: 72px;
  }
  .row:last-child {
    grid-template-columns: 64px 43px repeat(7, 0.5fr);
    max-height: 36px;
  }
  .star-img {
    margin: 0px;
    width: 15px;
    height: 18px;
    margin-top: 2px;
    object-fit:none;
    cursor: pointer;
    /* outline: 1px solid red; */
  }
}

.header-column {
  display: grid;
  align-items: center;
  /* justify-content: center; */
  /* white-space: normal; */
  text-align: center;
  word-wrap: break-word;
  padding: 0 0px;
  min-height: 36px;
  line-height: 1.125;
  /* outline: 1px solid red; */
}
.item-column {
  align-items: center;
  text-align: center;
  padding: 0 0px;
  /* outline: 1px solid red; */
}

#itemList li:nth-child(odd) {
  background-color: #252129; /* Alternate row color */
}

.pin-img {
  margin: 0px;
  width: 11px;
  height: 11px;
  margin-bottom: 7px;
  /* cursor: pointer; */
}
.star-header {
  margin: auto;
  width: 18px;
  height: 18px;
  object-fit: none;
  /* outline: 1px solid red; */
}

.item-image {
  width: 117px; 
  height: 82px; 
  margin-right: -15px;
  margin-left: -10px;
  margin-top: -5px;
  margin-bottom: -5px;
  border-radius: 4px; 
  object-fit:none;
  /* outline: 1px solid red; */
}