/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #0E0C0F;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  max-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: calc(100vw-45px);
  max-width: 800px;
  min-width: 500px;
  min-height: 100vh;
  max-height: 100vh;
  background: #171619;
  margin: auto;
  padding-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#page-title {
  /* background-color: green; */
  margin-top: 0px;
  margin-bottom: 20px;
}

/* Search box */
#searchBox {
  padding: 10px;
  margin-bottom: 5px;
  background: #ffffff;
  border: 1px solid #1B181E;
  border-radius: 4px;
  font-size: 20px;
}
#searchBox:focus {
  outline: 2px solid rgb(140, 130, 240);
  outline-offset: 2px;       /* Optional: Adds space between the outline and the element */
}

/* Filters and Suggestions */
#search-section {
  margin-bottom: 20px;
}
#filter-container {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  margin-bottom: 12px;
}
#filter-container:empty {
  gap: 10px;
  margin: 0px;
  margin-bottom: 10px;
}
.filter-tag {
  background-color: rgb(140, 130, 240);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.filter-tag:hover {
  background-color: #4e4e4e;
  text-decoration: line-through;
}
#suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.suggestion {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.suggestion-ability {
  background-color: #0E0B11;
  border: 2px solid #29252D;
}
.suggestion-move {
  background-color: #0E0B11;
  border: 2px solid #29252D;
}
.suggestion-default { /* Type */
  background-color: #0E0B11;
  border: 2px solid #29252D;
}
.suggestion:hover {
  border: 2px solid rgb(140, 130, 240);
}

#itemList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

/* Desktop View - Single Row Layout */
@media (min-width: 769px) {
  .container {
    padding: 20px;
    padding-top: 10px;
    margin-top: 20px;
  }
  #header-container {
    /* display: grid; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #151019;
    height: 80px;
  }
  .header-row {
    display: grid;
    align-items: center;
    text-align: center;
    display: grid;
    gap: 10px;
    width: 100%;
    height: 60px;
    cursor: pointer;
    /* outline: 1px solid red; */
  }
  .header-row:first-child {
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr 2.5fr repeat(7, 0.5fr);
  }
  #itemList li {
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #151019;
    min-height: 50px;
    max-height: 80px;
  }
  .row {
    align-items: center;
    text-align: center;
    display: grid;
    gap: 10px;
    /* outline: 1px solid red; */
  }
  .row:first-child {
    grid-template-columns: 0.5fr 0.5fr 2fr 1fr 2.5fr repeat(7, 0.5fr);
  }
}

/* Mobile View - Double Row Layout */
@media (max-width: 768px) {
  .container {
    padding: 5px;
    padding-top: 10px;
    margin-top: 0px;
  }
  #header-container {
    /* display: grid; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 20px;
    background-color: #151019;
    height: 72px;
  }
  .header-row {
    display: grid;
    align-items: center;
    text-align: center;
    display: grid;
    gap: 10px;
    width: 100%;
    height: 36px;
    cursor: pointer;
    /* outline: 1px solid red; */
  }
  .header-row:first-child {
    grid-template-columns: 0.5fr 0.5fr 2fr 1.5fr 2.5fr;
  }
  .header-row:last-child {
    grid-template-columns: repeat(7, 0.5fr);
  }
  #itemList li {
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Evenly space the columns */
    padding: 10px;
    border: 1px solid #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #151019;  
  }
  .row {
    align-items: center; /* Center items vertically */
    text-align: center;
    display: grid;
    gap: 10px; /* Spacing between columns */
  }
  .row:first-child {
    grid-template-columns: 0.5fr 0.5fr 2fr 1.5fr 2.5fr; /* Custom widths for each column */
    margin-bottom: 10px; /* Space between rows */
  }
  .row:last-child {
    grid-template-columns: repeat(7, 0.5fr);
  }
}

.header-column {
  align-items: center;
  text-align: center;
  padding: 0 0px;
  /* background-color: green; */
}
.item-column {
  align-items: center;
  text-align: center;
  padding: 0 0px;
  /* background-color: green; */
}

#itemList li:nth-child(odd) {
  background-color: #252129; /* Alternate row color */
}

#itemList li img {
  /* width: 50px; 
  height: 40px;  */
  margin-right: 0px;
  border-radius: 0%; 
  object-fit: none;
}